<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Ryan Gif of the day</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="https://media.licdn.com/dms/image/v2/D4D03AQE3UHoU84Dy7w/profile-displayphoto-shrink_800_800/B4DZSmz7NEG8Ac-/0/1737965418026?e=1746662400&v=beta&t=hNRnKRTX0jjHr0tBrIf9fCBI3RyMboGSIE7tWsb8H2g">HavasDog</a></small></p>
      <p><strong>Visitor Count: {{ visitor_count }}</strong></p>  <!-- Display the visitor count here -->
    </div>
  </body>
</html>

